h2 { text-align:center; font:normal 150% Georgia; }
#sliderContent, #sliderContent1, #sliderContent2, #sliderContent3, #sliderContent4{ width:650px; margin:auto; padding:0; float: left; }
.viewer { width:525px; margin:0; padding:1px; overflow:hidden; position:relative;}
.content-conveyor { width:525px;position:relative; }
.item { width:135px; float:left; font-family:Tahoma; text-align:center;}
.item h2 { font-size:100%; margin:10px 0; }
.item dl { margin:10px 0; }
.item dt, .item dd { float:left; width:149px; text-align:right; margin:0; font-size:70%; }
.item dt { font-weight:bold; margin-right:5px; }
.item dd { text-align:left; }
.item img {  background-color:#ffffff; padding:1px; }
.item img.one{margin:15px 0 0;padding:0 0 10px}
.item img.two{margin:20px 0 0;padding:0 0 22px}
.item img.three{padding:0 0 18px}

/* */

.tabs , .tabs1 { float:left; border:1px solid #d7d7d7; }
.tabs1{border:none}
.tabs p, .tabs1 p { text-align:center; border-right:1px dashed #4166ab; padding:0 6px; float:left; width:122px; line-height:16px;font:normal 12px Arial, Helvetica, sans-serif }
.tabs p img, .tabs1 p img { margin:0 0 3px }
.tabs p.last , .tabs1 p.last { border:0; padding:0 0 0 6px }
.tabs1 p.first{padding:0 6px 0 0} 
#slider, #slider1, #slider2, #slider3, #slider4{position:relative;margin:0 0 0 10px}
.ui-slider-horizontal { background:url(../img/range.png) no-repeat left 5px;height:30px;width:520px }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em;}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-state-default, .ui-widget-content .ui-state-default{background:url(../img/move-btn.jpg) no-repeat right top ;padding:10px 0 0 0;cursor:pointer;width:41px}
iframe{overflow:hidden!important}

