# Can ignore the following files.
.buildpath
.project
/application/config/database.php
/application/config/config.php
/uploads/documents/*
/uploads/documents/thumbs/*
/uploads/products/*
/uploads/products/thumbs/*

# Can also ignore all directories and files in a directory.
.settings/*
